.container{
	width:500px;
	overflow: hidden;
	margin:auto;
	border: 3px solid #484848;
	background-color: #c8c8c8;
}

.container:after{
	position: relative;
}

ul {
	margin:0;
	padding:0;
}

li:hover{
	background-color: #660099;
}

li {
	font-family: 'Shadows Into Light', cursive;
	position: relative;
	z-index: 20;
	display:block;
	text-align: center;
	height: 50px;
	background-color: black;
	color: white;
	font-size: 30px;
}

p {
	display: none;
	padding-left: 6px;
	font-family: 'Gloria Hallelujah', cursive;
}

#s1 {
	border-bottom: 1px solid #484848;
}

#s2 {
	border-top: 1px solid #484848;
	border-bottom: 1px solid #484848;
}

#s3 {
	border-top: 1px solid #484848;
	border-bottom: 1px solid #484848;
}

.displayBlock {
	display: block;
}


